<h2>Create New Landmark</h2>
<form method="POST" action="/landmarks" >
Name: <input type="text" name="name"><br>
Year_completed: <input type="text" name="year_completed"><br>
<input type="submit">
</form>

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
